
.marchimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body{
    background-color: #ff3f95;
}



a{
    display: flex;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 80%;
    text-align: center;
    line-height: 65px;
    text-decoration: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(219, 174, 24);
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 12px;
    

}

span{
    display: table;
    margin: 0 auto;
    padding: 3px;
    background-color: #8ebf42;
}

.ffflogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 50px;
  }

.titlediv{
    height: 10%;
}

.titletext{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;

}

.content{
    display: none;

}

.collapsible{
    display: block;
    width: 80%;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    text-decoration: none;
    position: relative;
    font-size: 6vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(219, 174, 24);
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.songimage{
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 10%);
    margin-top: 10%;
    margin-bottom: 10%;
}
